body{
    font-family: "Poppins", sans-serif;
}
.top-bar{
    background-color: darkred;
    color: white;
    padding: 12px;
}
.btn1{
    width:auto;
    font-size: 15px;
}
.icons{
    height: 40px;
    width: 40px;
    ma
}